pipeline/pl_dataentry_equipos.json
{
	"name": "pl_dataentry_equipos",
	"properties": {
		"activities": [
			{
				"name": "lkp_parametros",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_parametros]",
						"storedProcedureParameters": {
							"PipelineId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.PipelineId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "copy_dataentry_to_stg",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_parametros",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_dataentry",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.CAPA_LANDING, '/dataentrys/', activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO)",
								"type": "Expression"
							},
							"filesystem": {
								"value": "@activity('lkp_parametros').output.firstRow.FILESYSTEM",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.CAPA_RAW, trim(activity('lkp_parametros').output.firstRow.RUTA_BASE), '/', activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '/stg/', activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '/data')",
								"type": "Expression"
							},
							"filesystem": {
								"value": "@activity('lkp_parametros').output.firstRow.FILESYSTEM",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "kv_get_dbrx_token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "copy_dataentry_to_stg",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-liga1-secreto.vault.azure.net/secrets/databricks-token?api-version=7.3",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set_dbrx_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "kv_get_dbrx_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dbrx_token",
					"value": {
						"value": "@activity('kv_get_dbrx_token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sch_m_catalogo_equipos",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set_dbrx_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('dbrx_token'))",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(activity('lkp_parametros').output.firstRow.AREA, 'api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\": ', string(activity('lkp_parametros').output.firstRow.JOB_ID), ', \"idempotency_token\": \"', pipeline().RunId, '\"}')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineId": {
				"type": "int"
			},
			"TablaParametro": {
				"type": "string"
			}
		},
		"variables": {
			"dbrx_token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "pl_pipelines_dataentrys/pl_inner_procesos"
		},
		"annotations": []
	}
}