pipeline/pl_delete_controlado.json
{
	"name": "pl_delete_controlado",
	"properties": {
		"activities": [
			{
				"name": "IfConditionDelete",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "chk_folder_exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(\n    not(equals(pipeline().parameters.ModoEjecucion,'HISTORICO')),\n    not(empty(activity('chk_folder_exists').output.childItems))\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CleanRawYearFolder",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_adls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"folderPath": {
											"value": "@concat(\n    pipeline().parameters.capa_raw,\n    trim(pipeline().parameters.rutaBase),\n    '/',\n    pipeline().parameters.nombre_archivo,\n    '/',\n    if(\n        equals(pipeline().parameters.ModoEjecucion,'HISTORICO'),\n        '1FL',\n        if(\n            equals(pipeline().parameters.ModoEjecucion,'REPROCESO'),\n            concat(string(pipeline().parameters.anio), '/01/01'),\n            formatDateTime(pipeline().parameters.FechaCarga,'yyyy/MM/dd')\n        )\n    ),\n    '/data'\n)",
											"type": "Expression"
										},
										"filesystem": {
											"value": "@pipeline().parameters.filesystem",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(pipeline().parameters.nombre_archivo, '.parquet')",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "ls_adls",
										"type": "LinkedServiceReference"
									},
									"path": "liga1"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "chk_folder_exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat(\n    pipeline().parameters.capa_raw,\n    trim(pipeline().parameters.rutaBase),\n    '/',\n    pipeline().parameters.nombre_archivo,\n    '/',\n    if(\n        equals(pipeline().parameters.ModoEjecucion,'HISTORICO'),\n        '1FL',\n        if(\n            equals(pipeline().parameters.ModoEjecucion,'REPROCESO'),\n            concat(string(pipeline().parameters.anio), '/01/01'),\n            formatDateTime(pipeline().parameters.FechaCarga,'yyyy/MM/dd')\n        )\n    ),\n    '/data'\n)",
								"type": "Expression"
							},
							"filesystem": {
								"value": "@pipeline().parameters.filesystem",
								"type": "Expression"
							},
							"fileName": "*.parquet"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "ParquetReadSettings"
					}
				}
			}
		],
		"parameters": {
			"capa_raw": {
				"type": "string"
			},
			"rutaBase": {
				"type": "string"
			},
			"nombre_archivo": {
				"type": "string"
			},
			"filesystem": {
				"type": "string"
			},
			"FechaCarga": {
				"type": "string"
			},
			"ModoEjecucion": {
				"type": "string"
			},
			"anio": {
				"type": "string"
			}
		},
		"folder": {
			"name": "pl_pipeline_control"
		},
		"annotations": []
	}
}