pipeline/pl_FotMob_Historico.json
{
	"name": "pl_FotMob_Historico",
	"properties": {
		"activities": [
			{
				"name": "lkp_anios_historicos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_rango_anios]",
						"storedProcedureParameters": {
							"EndYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Parametros_Json['CURRENT_YEAR']",
									"type": "Expression"
								}
							},
							"StartYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Parametros_Json['HISTORIC_START_YEAR']",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_procesar_anios",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_anios_historicos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_anios_historicos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Parametros_Json": {
				"type": "object"
			},
			"Pipeline_Id": {
				"type": "string"
			},
			"TablaParametro": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-16T23:08:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}