pipeline/pl_FotMob_Historico.json
{
	"name": "pl_FotMob_Historico",
	"properties": {
		"activities": [
			{
				"name": "lkp_anios_historicos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_rango_anios]",
						"storedProcedureParameters": {
							"EndYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Parametros_Json['CURRENT_YEAR']",
									"type": "Expression"
								}
							},
							"StartYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Parametros_Json['HISTORIC_START_YEAR']",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_procesar_anios",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_anios_historicos",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_datos_entidad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_anios_historicos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "web scpraping",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/FOTMOB/liga1-azure/frm_landing/scraping/fotmob_scraping_piloto",
								"baseParameters": {
									"temporada": {
										"value": "@item().Anio",
										"type": "Expression"
									},
									"liga_id": {
										"value": "@pipeline().parameters.Parametros_Json['LEAGUE_ID']",
										"type": "Expression"
									},
									"liga_nombre": {
										"value": "@pipeline().parameters.Parametros_Json['URL_SEASON_PARAM']",
										"type": "Expression"
									},
									"rutabase": {
										"value": "@activity('lkp_datos_entidad').output.firstRow.RutaBase",
										"type": "Expression"
									},
									"url_base": {
										"value": "@pipeline().parameters.Parametros_Json['URL_BASE']",
										"type": "Expression"
									},
									"container": {
										"value": "@pipeline().parameters.Parametros_Json['CONTAINER_TEMP']",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "lkp_datos_entidad",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_adls]",
						"storedProcedureParameters": {
							"pipelineid": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.Pipeline_Id",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					}
				}
			}
		],
		"parameters": {
			"Parametros_Json": {
				"type": "object"
			},
			"Pipeline_Id": {
				"type": "string"
			},
			"TablaParametro": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-09-16T23:08:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}