pipeline/pl_ligaperuana_Historico.json
{
	"name": "pl_ligaperuana_Historico",
	"properties": {
		"activities": [
			{
				"name": "lkp_anios_historicos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_rango_anios]",
						"storedProcedureParameters": {
							"EndYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.EndYear",
									"type": "Expression"
								}
							},
							"StartYear": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.StartYear",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_procesar_anios",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lkp_anios_historicos",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "lkp_lista_archivos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lkp_anios_historicos').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "pl_procesar_archivos_por_anio",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_procesar_archivos_por_anio",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"anio": {
										"value": "@item().Anio",
										"type": "Expression"
									},
									"rutaBase": {
										"value": "@pipeline().parameters.rutaBase",
										"type": "Expression"
									},
									"lista_archivos": {
										"value": "@json(activity('lkp_lista_archivos').output.firstRow.lista_archivos)",
										"type": "Expression"
									},
									"capa_raw": {
										"value": "@pipeline().parameters.capa_raw",
										"type": "Expression"
									},
									"capa_landing": {
										"value": "@pipeline().parameters.capa_landing",
										"type": "Expression"
									},
									"filesystem": {
										"value": "@pipeline().parameters.filesystem",
										"type": "Expression"
									},
									"ModoEjecucion": {
										"value": "@pipeline().parameters.ModoEjecucion",
										"type": "Expression"
									},
									"FechaCarga": {
										"value": "@pipeline().parameters.FechaCarga",
										"type": "Expression"
									},
									"PipelineId": {
										"value": "@pipeline().parameters.Pipeline_Id",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "sp_act_estado",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "foreach_procesar_anios",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_actualizar_modo_ejecucion]",
					"storedProcedureParameters": {
						"NuevoModo": {
							"value": "INCREMENTAL",
							"type": "String"
						},
						"PipelineId": {
							"value": {
								"value": "@pipeline().parameters.Pipeline_Id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_liga1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "lkp_lista_archivos",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_archivos]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": true
				}
			}
		],
		"parameters": {
			"Pipeline_Id": {
				"type": "int"
			},
			"TablaParametro": {
				"type": "string"
			},
			"capa_raw": {
				"type": "string"
			},
			"capa_landing": {
				"type": "string"
			},
			"filesystem": {
				"type": "string"
			},
			"EndYear": {
				"type": "string"
			},
			"StartYear": {
				"type": "string"
			},
			"rutaBase": {
				"type": "string"
			},
			"ModoEjecucion": {
				"type": "string"
			},
			"FechaCarga": {
				"type": "string"
			}
		},
		"variables": {
			"var_archivos": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "pl_hijos_ligaperuana/pl_inner_procesos"
		},
		"annotations": [],
		"lastPublishTime": "2025-09-16T23:08:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}