pipeline/sch_create_workflows.json
{
	"name": "sch_create_workflows",
	"properties": {
		"activities": [
			{
				"name": "Execute create_workflows",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set_IdEjecucion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_execute_create_jobs",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineId": {
							"value": "@pipeline().parameters.PipelineId",
							"type": "Expression"
						},
						"TablaParametro": {
							"value": "@pipeline().parameters.TablaParametro",
							"type": "Expression"
						},
						"pipeline_type": {
							"value": "@pipeline().parameters.pipeline_type",
							"type": "Expression"
						},
						"prm_job_name": {
							"value": "@pipeline().parameters.prm_job_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "tb_ctrl_start",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ctrl_start",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineId": {
							"value": "@pipeline().parameters.PipelineId",
							"type": "Expression"
						},
						"TablaParametro": {
							"value": "@pipeline().parameters.TablaParametro",
							"type": "Expression"
						},
						"ExecutionId": {
							"value": "@pipeline().RunId",
							"type": "Expression"
						},
						"pipeline_name": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"pipeline_type": {
							"value": "@pipeline().parameters.pipeline_type",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set_IdEjecucion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "tb_ctrl_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "IdEjecucion",
					"value": {
						"value": "@activity('tb_ctrl_start').output.pipelineReturnValue.IdEjecucion",
						"type": "Expression"
					}
				}
			},
			{
				"name": "tb_ctrl_end_success",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set_job_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ctrl_end_success",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineId": {
							"value": "@pipeline().parameters.PipelineId",
							"type": "Expression"
						},
						"IdEjecucion": {
							"value": "@variables('IdEjecucion')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "pl_ctrl_end_fail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "set_job_id",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_ctrl_end_fail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"PipelineId": {
							"value": "@pipeline().parameters.PipelineId",
							"type": "Expression"
						},
						"IdEjecucion": {
							"value": "@variables('IdEjecucion')",
							"type": "Expression"
						},
						"MensajeError": {
							"value": "@activity('Execute create_workflows').error.message",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set_job_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute create_workflows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "set_job_id",
					"value": {
						"value": "@string(activity('Execute create_workflows').output.runOutput.job_id)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"PipelineId": {
				"type": "string",
				"defaultValue": "6"
			},
			"TablaParametro": {
				"type": "string",
				"defaultValue": "tbl_pipeline_parametros"
			},
			"pipeline_type": {
				"type": "string",
				"defaultValue": "WORKFLOW_JOBS"
			},
			"prm_job_name": {
				"type": "string"
			}
		},
		"variables": {
			"IdEjecucion": {
				"type": "Integer"
			},
			"set_job_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "workflows"
		},
		"annotations": []
	}
}