proceso/adf/pipeline/pl_dataentry_posiciones.json
{
	"name": "pl_dataentry_posiciones",
	"properties": {
		"description": "Copia CSV de posiciones desde landing a rdv (parquet). Lookup de traducción inglés→español para posiciones de jugadores.",
		"activities": [
			{
				"name": "lkp_parametros",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[sp_obtener_parametros]",
						"storedProcedureParameters": {
							"PipelineId": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.PipelineId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_generic",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@pipeline().parameters.TablaParametro",
								"type": "Expression"
							},
							"SchemaName": "dbo"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "copy_posiciones_to_rdv",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lkp_parametros",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_adls_csv_dataentry",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.CAPA_LANDING, '/dataentrys/', activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO)",
								"type": "Expression"
							},
							"filesystem": {
								"value": "@activity('lkp_parametros').output.firstRow.FILESYSTEM",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '.csv')",
								"type": "Expression"
							},
							"useHeader": true
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_parquet",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.CAPA_RDV, '/', activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '/data')",
								"type": "Expression"
							},
							"filesystem": {
								"value": "@activity('lkp_parametros').output.firstRow.FILESYSTEM",
								"type": "Expression"
							},
							"fileName": {
								"value": "@concat(activity('lkp_parametros').output.firstRow.NOMBRE_ARCHIVO, '.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"PipelineId": {
				"type": "int",
				"defaultValue": 37
			},
			"TablaParametro": {
				"type": "string",
				"defaultValue": "tbl_pipeline_parametros"
			}
		},
		"folder": {
			"name": "pl_pipelines_dataentrys/pl_