proceso/adf/pipeline/pl_execute_jobs_databricks.json
{
	"name": "pl_execute_jobs_databricks",
	"properties": {
		"activities": [
			{
				"name": "kv_get_dbrx_token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-liga1-secreto.vault.azure.net/secrets/databricks-token?api-version=7.3",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "set_dbrx_token",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "kv_get_dbrx_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "dbrx_token",
					"value": {
						"value": "@activity('kv_get_dbrx_token').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sch_jobs_databricks",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "set_dbrx_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('dbrx_token'))",
							"type": "Expression"
						},
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@concat(pipeline().parameters.area, '/api/2.1/jobs/run-now')",
						"type": "Expression"
					},
					"body": {
						"value": "@concat('{\"job_id\": ', string(pipeline().parameters.job_id), ', \"idempotency_token\": \"', pipeline().RunId, '\"', if(empty(pipeline().parameters.notebook_params_json), '', concat(', \"notebook_params\": ', pipeline().parameters.notebook_params_json)), '}')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set_run_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "sch_jobs_databricks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "run_id",
					"value": {
						"value": "@string(activity('sch_jobs_databricks').output.run_id)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "poll_job_status",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "set_run_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(equals(variables('job_lifecycle'), 'TERMINATED'), equals(variables('job_lifecycle'), 'INTERNAL_ERROR'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "wait_poll",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 30
							}
						},
						{
							"name": "get_run_status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "wait_poll",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:02:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat('Bearer ', variables('dbrx_token'))",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat(pipeline().parameters.area, '/api/2.1/jobs/runs/get?run_id=', variables('run_id'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_lifecycle",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_run_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "job_lifecycle",
								"value": {
									"value": "@activity('get_run_status').output.state.life_cycle_state",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set_result",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "get_run_status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "job_result",
								"value": {
									"value": "@if(contains(activity('get_run_status').output.state, 'result_state'), string(activity('get_run_status').output.state.result_state), '')",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.08:00:00"
				}
			},
			{
				"name": "check_job_failed",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "poll_job_status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(variables('job_result'), 'SUCCESS'))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "fail_job",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": {
									"value": "@concat('Databricks job ', variables('run_id'), ' terminó con estado: ', variables('job_result'))",
									"type": "Expression"
								},
								"errorCode": "DATABRICKS_JOB_FAILED"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"area": {
				"type": "string"
			},
			"job_id": {
				"type": "string"
			},
			"notebook_params_json": {
				"type": "string"
			}
		},
		"variables": {
			"dbrx_token": {
				"type": "String"
			},
			"run_id": {
				"type": "String"
			},
			"job_lifecycle": {
				"type": "String",
				"defaultValue": "PENDING"
			},
			"job_result": {
				"type": "String"
			}
		},
		"folder": {
			"name": "workflows/inner_procesos_workflows"
		},
		"annotations": [],
		"lastPublishTime": "2026-05-23T23:49:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}